{% load static %}
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/020d540d39.js" crossorigin="anonymous"></script>

    {% block css %}

    {% endblock css %}



    {% block titulo %}

    {% endblock titulo %}

</head>

<body class="body-index">
    <!--========================================================== -->
    <!-- ENCABEZADO -->
    <!--========================================================== -->
    <header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-6">Contactanos 1-(305)-725-1000</p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="menu">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'INDEX' %}">RayoMcqueen</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'INDEX' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'GALE_VENTAS' %}">galeria repuestos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Marcas de Repuestos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="formularios">
                            <li><a class="dropdown-item" href="{% url 'FILTRO_MARC' 'Toyota' %}">Toyota</a></li>
                            <li><a class="dropdown-item" href="{% url 'FILTRO_MARC' 'Audi' %}">Audi</a></li>
                            <li><a class="dropdown-item" href="{% url 'FILTRO_MARC' 'Nissan' %}">Nissan</a></li>
                            <li><a class="dropdown-item" href="{% url 'FILTRO_MARC' 'Peugeot' %}">Peugeot</a></li>
                        </ul>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ADMIN_USER' %}">Mis Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'VENTAS' %}">Adm. Repuestos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'CERRAR_SESION' %}">Cerrar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Bienvenido: {{user.first_name}} {{user.last_name}}</a>
                    </li>

                    {% else %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Formularios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="formularios">
                            <li><a class="dropdown-item" href="{% url 'REGISTRARSE' %}">Registrarse</a></li>
                            <li><a class="dropdown-item" href="{% url 'INICIAR' %}">Iniciar Sesion</a></li>
                        </ul>
                    </li>
                    {% endif %}



                </ul>
            </div>
        </div>
    </nav>



{% block slider %}

{% endblock slider %}

{% block banner %}

{% endblock banner %}


    <!--========================================================== -->
    <!-- INTRODUCCION DE SERVICIOS-->
    <!--========================================================== -->


    <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto"
        id="intro">
        <h1 class="p-3 fs-2 border-top border-3">Una agencia automotora única para todas tus necesidades de <span
                class="text-primary">Mantencion Automotriz<span /></h1>
        <p class="p-3  fs-4">
            <span class="text-primary">RayoMcqueen.</span> es la agencia donde te ayudamos a resolver los problemas de
            tu
            auto, moto o camioneta.
        </p>
    </section>



    {% block contenido %}

    {% endblock contenido %}

    {% block galeria %}

    {% endblock galeria %}




    <!--========================================================== -->
    <!--FOOTER-->
    <!--========================================================== -->


    <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
        <p class="fs-5 px-3  pt-3">RayoMcqueen. &copy; Todos Los Derechos Reservados 2021</p>
        <div id="iconos">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    {% block JS %}

    {% endblock JS %}

    {% block scripst %}

    {% endblock scripst %}


</body>

</html>