{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Repuestos Disponibles</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/trabajos.css' %}">
<link rel="stylesheet" href="{% static 'css/galeria.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/lightbox.css' %}">
{% endblock css %}


{% block galeria %}

<!--========================================================== -->
<!--GALERIA DE LOS REPUESTOS-->
<!--========================================================== -->

<section id="galeria" class="container">
    <div class="text-center text-dark pt-5">
        <h1 class="fw-bold">Repuestos Disponibles</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur repellendus, facere voluptatem ipsa
            cum quasi est in natus fugit commodi aliquid incidunt perferendis accusantium rem eius nisi a itaque
            aspernatur.</p>
    </div>
    <div class="container  border-top" style="max-width: 500px" id="contenedor-formulario">
        <form action="{% url 'FILTRO_MARCA' %}" method="POST">
            {% csrf_token %}
            <h3 class="text-center text-dark pt-5 mb-4">Filtro por Marca del Repuesto</h3>
            <div class="mb-3">
                <select class="form-select" id="cboCategoria" name="cboCategoria">
                    {% for reg in marca %}
                    <option>{{reg.nombre}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class=" btn btn-primary w-100 fs-5">Filtrar</button>
            </div>
        </form>

        <form action="{% url 'BUSCAR_REP' %}" method="POST">
            {% csrf_token %}
            <h3 class="text-center text-dark pt-5 mb-4">Buscar por Nombre del Repuesto </h3>
            <div class="mb-3">
                <input class="form-control" type="text" name="txtNombre" id="txtNombre" placeholder="Buscar Repuestos"
                    aria-label="Search">
            </div>

            <div class="mb-3">
                <button type="submit" class=" btn btn-primary w-100 fs-5">Buscar Repuesto</button>
            </div>
        </form>

    </div>
    <div class="row">
        {% for reg in repuestos %}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="{{reg.imagen.url}}" data-lightbox="mecanicos">
                <img src="{{reg.imagen.url}}" alt="">
            </a>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-dark fw-bold">{{reg.nombre}}</h4>
                <a href="{% url 'DETA_REPUES' reg.nombre %}" class="btn btn-primary fw-bold text-light">Ver
                    Detalle...</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<div class="mb-3">
    <h3 class="text-center text-dark pt-5 mb-4">La cantidad de Repuestos Encontrados son: <span
            class="text-primary">{{cantidad}}</span></h3>
</div>
{% endblock galeria %}



{% block scripst %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{% static 'dist/js/lightbox-plus-jquery.js' %}"></script>
{% endblock scripst %}