{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Revision 40k</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="iniciarSesion.html">
<link rel="stylesheet" href="{% static 'css/trabajos.css' %}">
<link rel="stylesheet" href="{% static 'css/galeria.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/lightbox.css' %}">
{% endblock css %}


{% block contenido %}
<div id="tarjetas" class="border-top border-2">
  <div class="mapa">
    <main id="nose">
      <div class="card" style="width: 18rem;" id="mantenciones">
        <img src="{% static 'img/kilometraje.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mantencion 40.000</h5>
          <p class="card-text">El cliente trajo su vehiuculo para su correspondiente revision y mantencion de su
            vehiculo.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Fecha: 11 Noviembre 2018 </li>
          <li class="list-group-item">Mecanico a cargo: Luis Riquelme Galaz</li>
          <li class="list-group-item">Materiales usados: Aceite Mobil 1 ultra premium, filtro de aire, filtro de
            aceite,
            pastillas de frenos.</li>
        </ul>
      </div>
    </main>
  </div>
</div>
{% endblock contenido %}

{% block galeria %}

<!--========================================================== -->
<!--GALERIA DE LAS MANTENCIONES-->
<!--========================================================== -->

<section id="galeria" class="container">
  <div class="text-center text-dark pt-5">
    <h1 class="fw-bold">Galeria</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur repellendus, facere voluptatem ipsa
      cum quasi est in natus fugit commodi aliquid incidunt perferendis accusantium rem eius nisi a itaque
      aspernatur.</p>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <a href="{% static 'img/kilometraje.jpg' %}" data-lightbox="mecanicos">
        <img src="{% static 'img/kilometraje.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <a href="{% static 'img/kilometraje_2.jpg' %}" data-lightbox="mecanicos">
        <img src="{% static 'img/kilometraje_2.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <a href="{% static 'img/kilometraje_3.jpg' %}" data-lightbox="mecanicos">
        <img src="{% static 'img/kilometraje_3.jpg' %}" alt="">
      </a>
    </div>
  </div>
</section>
{% endblock galeria %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="{% static 'dist/js/lightbox-plus-jquery.js' %}"></script>
{% block scripst %}{% endblock scripst %}