{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Modificar Repuesto</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
{% endblock css %}

{% block banner %}
<img src="{% static 'img/banner.jpg' %}" class="d-block w-100" height="550" alt="">
{% endblock banner %}

{% block contenido %}
<!--========================================================== -->
<!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->


<section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
    <h2 class="p-3 fs-4 border-top border-3">Sistema de Modificacion de Repuestos en Venta</h2>
    <h3 class="p-3 fs-4 border-top border-3">para el Mecanico: <span class="text-primary">{{user.username}}</span></h3>
</section>
<!--========================================================== -->
<!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->
<section>
    <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
        <div class="text-center mb-4" id="titulo-formulario">
            <div><img src="{% static 'img/iniciar.jpg' %}" alt="" class="img-fluid ps-5"></div>
            <h2>Modificar Repuesto</h2>
            <p class="fs-5">Estamos aqui para solucionar tus problemas</p>
        </div>



        <form action="{% url 'MODI' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" value="{{repuesto.nombre}}" placeholder="Nombre del Producto"
                    id="txtNombre" name="txtNombre">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" value="{{repuesto.precio}}" placeholder="Precio del Producto"
                    id="txtPrecio" name="txtPrecio">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Descripcion del Producto" id="txtDesc" name="txtDesc"
                    rows="3">{{repuesto.descripcion}}</textarea>
            </div>
            <div class="mb-3">
                <select class="form-select" id="cboCategoria" name="cboCategoria">
                    {% for item in marca %}
                    {% if item.nombre == repuesto.marcas.nombre %}
                    <option selected>{{item.nombre}}</option>
                    {% else %}
                    <option>{{item.nombre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>


            <div class="mb-3">
                imagen actual: <a href="{{repuesto.imagen.url}}">{{repuesto.imagen.url}}</a>
                <input class="form-control" type="file" id="txtImg" name="txtImg">
            </div>



            <div class="mb-3">
                <button type="submit" class=" btn btn-primary w-100 fs-5">Modificar Repuesto</button>
            </div>
        </form>

    </div>
</section>

{% endblock contenido %}




{% block scripst %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
{% endblock scripst %}