{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Registrarse</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
{% endblock css %}

{% block banner %}
<img src="{% static 'img/banner.jpg' %}" class="d-block w-100" height="550" alt="">
{% endblock banner %}

{% block contenido %}
<!--========================================================== -->
<!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->

<div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
  <div class="text-center mb-4" id="titulo-formulario">
    <div><img src="{% static 'img/support.png' %}" alt="" class="img-fluid ps-5"></div>
    <h2>Registra tu usuario</h2>
    <p class="fs-5">Estamos aqui para solucionar tus problemas</p>
  </div>



  <form action="{% url 'REGISTRARSE' %}" method="POST" onsubmit="return validarPass()">
    {% csrf_token %}
    <div class="mb-3">
      <input type="input" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="ingrese Usuario">
    </div>
    <div class="mb-3">
      <input type="input" class="form-control" id="txtNombre" name="txtNombre" placeholder="ingrese Nombre">
    </div>
    <div class="mb-3">
      <input type="input" class="form-control" id="txtApellido" name="txtApellido" placeholder="ingrese Apeliido">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="nombre@ejemplo.com">
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" id="txtPass1" name="txtPass1" placeholder="ingrese password">
    </div>

    <div class="mb-3">
      <input type="password" class="form-control" id="txtPass2" name="txtPass2" placeholder="Comfirme password">
    </div>


    <div class="mb-3">
      <button type="submit" class=" btn btn-primary w-100 fs-5">Crear Usuario</button>
    </div>
  </form>

</div>

</section>


<!--{% url 'REGISTRARSE' %}-->

{% endblock contenido %}


{% block scripst %}
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="{% static 'js/validarPass.js' %}"></script>
{% endblock scripst %}
<!--
{% block js %}
<script>
  Function validarPass() {
    var pass1 = document.getElementById("txtPass1").Value;
    var pass2 = document.getElementById("txtPass2").Value;
    if (pass1 != pass2) {
      alert("las contraseñas no coinciden");
      return false;
    }
    return true;
  }
</script>
{% endblock js %}
-->
