{% extends "base.html" %}
{% load static %}

{% block titulo %}
<title>Agregar Repuesto</title>
{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
{% endblock css %}

{% block banner %}
<img src="{% static 'img/banner.jpg' %}" class="d-block w-100" height="550" alt="">
{% endblock banner %}

{% block contenido %}
<!--========================================================== -->
<!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->


<section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
    <h2 class="p-3 fs-4 border-top border-3">Sistema de Administracion de Repuestos en Venta</h2>
    <h3 class="p-3 fs-4 border-top border-3">para el Mecanico: <span class="text-primary">{{user.username}}</span></h3>
</section>
<!--========================================================== -->
<!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->
<section>
    <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
        <div class="text-center mb-4" id="titulo-formulario">
            <div><img src="{% static 'img/iniciar.jpg' %}" alt="" class="img-fluid ps-5"></div>
            <h2>Agregar Repuesto</h2>
            <p class="fs-5">Estamos aqui para solucionar tus problemas</p>
        </div>



        <form action="{% url 'VENTAS' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nombre del Producto" id="txtNombre"
                    name="txtNombre">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" placeholder="Precio del Producto" id="txtPrecio"
                    name="txtPrecio">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Descripcion del Producto" id="txtDesc" name="txtDesc"
                    rows="3"></textarea>
            </div>
            <div class="mb-3">
                <select class="form-select" id="cboCategoria" name="cboCategoria">
                    {% for item in marca %}
                    <option>{{item.nombre}}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="mb-3">
                <input class="form-control" type="file" id="txtImg" name="txtImg">
            </div>



            <div class="mb-3">
                <button type="submit" class=" btn btn-primary w-100 fs-5">Agregar Repuesto</button>
            </div>
        </form>

    </div>
</section>
<div class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto">
    <h2 class="p-3 fs-4">Tabla de Administracion de Repuestos <span class="text-primary">(Cantidad de Repuestos:
            {{cant}})</span></h2>
</div>
<div class="">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Marca</th>
                <th scope="col">Imagen</th>
                <th scope="col">Operaciones</th>
                <th scope="col">Publicaciones</th>
                <th scope="col">Comentario</th>
            </tr>
        </thead>
        <tbody class="">
            {% for item in repuestos %}
            <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.marcas}}</td>
                <td><img class="" src="{{item.imagen.url}}" alt="" width="100px" height="100px"></td>
                <td>
                    <div class="mb-1">
                        <button type="submit" class=" btn btn-primary w-100 fs-6" id="modificar" name="modificar"
                            onclick="modificar('{{item.nombre}}')">Modificar</button>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class=" btn btn-danger w-100 fs-6" id="eliminar" value="eliminar"
                            onclick="eliminar('{{item.nombre}}')">Eliminar</button>
                    </div>
                    <div class="mb-1">
                        <button type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            class=" btn btn-warning w-100 fs-6" id="txtImg" value="txtImg"
                            onclick="galeria('{{item.nombre}}')">Agregar
                            Imagen</button>
                    </div>
                </td>
                <td class="p-3">
                    {% if item.publicar %}
                    <div class="m-auto">
                        <h2 class="fs-6">Repuesto Publicado</h2>
                    </div>
                    {% else %}
                    <div class="m-auto">
                        <h2 class="fs-6 text-danger">Repuesto no Publicado</h2>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.comentario}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar imagen de Repuesto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'INSERT' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p>Seleccione una imagen para el Repuesto:
                        <div class="text-primary" id="nom_repuesto"></div>
                        </p>
                        <input type="file" name="txtImg" id="txtImg">
                        <input type="hidden" name="txtRepuesto" id="txtRepuesto">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Imagen</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function galeria(nombre) {
        document.getElementById("nom_repuesto").innerHTML = nombre;
        document.getElementById("txtRepuesto").value = nombre;
    }
    function modificar(nombre) {
        location.href = '/buscar_modificar/' + nombre + '/';
    }
    function eliminar(nombre) {
        var opcion = confirm("desea eliminar el registro " + nombre + "?");
        if (opcion == true) {
            location.href = '/eliminar/' + nombre + '/';
        }

    }
</script>
{% endblock contenido %}





<!--
{% block JS %}

<script>
    Function modificar(nombre) {
        Location.href = '/buscar_modificar/' + nombre + '/';
    }
    Function eliminar(nombre) {
        var opcion = confirm('desea eliminar el registro ' + nombre + '?');
        if (opcion == true) {
            location.href = '/eliminar/' + nombre + '/';
        }

    }
</script>
-->

{% endblock JS %}



{% block scripst %}

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
{% endblock scripst %}